*{
    font-family: Arial, Helvetica, sans-serif;
}
.bg-one-filter{
    height:100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0);
}
.bg-one{
    height: 100vh;
    width: 100%;
    position: absolute;
    /* filter: blur(1px); */
    opacity: 0.4;
}
.home-header{
    position: relative;
    z-index: 1;
    padding-top: 70vh;
    color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        font-size: 3em;
        right: 31%;
    }
    to{
        opacity: 1;
        right: 25%;
        font-size: 4em;
    }
}
.home-header>h1{
    top: 50%;
    position: absolute;
    right: 25%;
    font-size: 4em;
    font-weight: lighter;
    animation: 2s fadeIn;
}
.home-header>img{
    height: 60px;
    position: absolute;
    object-fit: cover;
    transform: rotate(90deg);
    right: 48%;
    bottom: 0px;
    background-color: none;
    animation: 2s rideIn;
    cursor: pointer;
}
.home-header>img:hover{
    transform: scale(1.1) rotate(90deg);
}
@keyframes rideIn{
    0%{
        opacity: 0;
        bottom: 50px;
    }
    50%{
        opacity: 0.5;
        bottom: 30px; 
    }
    60%{
        opacity: 0.5;
        bottom: 50px; 
    }
    70%{
        opacity: 0.5;
        bottom: 20px; 
    }
    80%{
        opacity: 0.7;
        bottom: 30px; 
    }
    100%{
        opacity: 1;
        bottom: 0px;
    }
}
.about{
    background-color: rgb(0,0,0,0.6);
    margin-top: 200px;
    margin-bottom: 70px;
    height: 500px;
    width: 70%;
    border-radius: 10px;
    z-index: 10;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    color: rgb(226, 226, 226);
}
.tiles{
    /* border: 2px solid red; */
    height: auto;
    width: 7%;
    right: 0%;
    top: 30%;
    position: fixed;
}
.tiles>div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}