*{
    font-family: Arial, Helvetica, sans-serif;
}
.bg-one-filter{
    height:100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0);
}
.bg-one{
    height: 100vh;
    width: 100%;
    position: absolute;
    /* filter: blur(1px); */
    opacity: 0.4;
}
.home-header{
    position: relative;
    z-index: 1;
    padding-top: 70vh;
    color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        font-size: 3em;
        right: 31%;
    }
    to{
        opacity: 1;
        right: 25%;
        font-size: 4em;
    }
}
.home-header>h1{
    top: 50%;
    position: absolute;
    right: 25%;
    font-size: 4em;
    font-weight: lighter;
    animation: 2s fadeIn;
}
.home-header>img{
    height: 60px;
    position: absolute;
    object-fit: cover;
    transform: rotate(90deg);
    right: 48%;
    bottom: 0px;
    background-color: none;
    animation: 2s rideIn;
    cursor: pointer;
}
.home-header>img:hover{
    transform: scale(1.1) rotate(90deg);
}
@keyframes rideIn{
    0%{
        opacity: 0;
        bottom: 50px;
    }
    50%{
        opacity: 0.5;
        bottom: 30px; 
    }
    60%{
        opacity: 0.5;
        bottom: 50px; 
    }
    70%{
        opacity: 0.5;
        bottom: 20px; 
    }
    80%{
        opacity: 0.7;
        bottom: 30px; 
    }
    100%{
        opacity: 1;
        bottom: 0px;
    }
}
.about{
    background-color: rgb(0,0,0,0.6);
    margin-top: 50px;
    margin-bottom: 70px;
    height: 500px;
    width: 70%;
    border-radius: 10px;
    z-index: 10;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
    color: rgb(226, 226, 226);
}
.about>h1{
    font-size: 4em;
    padding: 20px;
    letter-spacing: 1.2px;
    text-align: center;
}
.about>input{
    margin-top: 40px;
    width: 70%;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.about>button{
    border: none;
    background-color: black;
    color: white;  
    border-radius: 5px;
    padding: 10px;
    margin-left: -39px;
    cursor: pointer;
}
.bot{
    z-index: 30;
    /* border: 2px solid red; */
    border-radius: 50%;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    right: 8%;
    top: 85%;
    cursor: pointer;
    position: fixed;
    /* -webkit-box-shadow: 5px 5px 3px 1px rgba(227,227,227,1);
    -moz-box-shadow: 5px 5px 3px 1px rgba(227,227,227,1);
    box-shadow: 1px 1px 3px 1px rgba(227,227,227,1); */
}
.bot>img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.bot:hover{
    transform: scale(1.1);
}
.bot-body{
    /* display: none; */
    z-index: 20;
    text-align: center;
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #ffffff;
    height: 330px;
    width: 25%;
    right: 7.5%;
    top: 44%;
    /* cursor: pointer; */
    position: fixed;
    -webkit-box-shadow: 5px 5px 3px 1px rgba(227,227,227,1);
    -moz-box-shadow: 5px 5px 3px 1px rgba(227,227,227,1);
    box-shadow: 1px 1px 3px 1px rgb(173, 172, 172);
}
.bot-body>h2{
    background-color: black;
    color: white;
    width: 90%;
    font-weight: lighter;
    margin-left: 5%;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.2em;
    border-radius: 20px;
}
.bot-body>p{
    margin-top: 10px;
    text-align: left;
    margin-left: 10%;
}
.tiles{
    z-index: 20;
    /* border: 2px solid red; */
    height: auto;
    width: 7%;
    right: 0%;
    top: 30%;
    position: fixed;
}
.tiles>div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}
.container{
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
.base-body>div{
    /* border: 2px solid  red; */
    scroll-snap-align: start;
}
section{
    /* border: 1px solid rgb(255, 1, 1); */
    background-color: black;
    margin-top: 10%;
    /* padding: 1rem; */
    width: 100%;
    height: 97vh;
    color: white;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    z-index: 10;
}
section>.left{
    float: left;
    border-right: 2px solid white;
    /* background-color: red; */
    width: 20%;
    height: 50%;
    margin-top: 13%;
}
section>.right{
    float: right;
    margin-right: 10%;
    /* margin-top:13%; */
    /* border-right: 2px solid white; */
    /* background-color: red; */
    width: 60%;
    line-height: 45px;
    font-size: 1.4em;
    height: 50%;
    margin-top: 21%;
}
.right>h1{
    font-weight: lighter;
}
.left>h1{
    font-size: 2.2em;
    margin-top: 15px;    
}